{% extends 'backoffice.html.twig' %}



{% block title %}
    {{ parent() }}Ajout Catégorie
{% endblock %}
{% block titre %}
    Ajout Catégorie
{% endblock %}


{% block body %}

    <div class="row justify-content-center mb-5">

        <div class="col-md-6 ">


            {{ form_start(formu) }}
            <div class="mt-2">
                <label for="">Nom</label>
                {{ form_row(formu.nom) }}
            </div>
            <div class="mt-4">
                {{ form_row(formu.Valider) }}
            </div>

            {{ form_end(formu) }}
        </div>
    </div>
{% endblock %}
